<html>

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" ></script>
    <script type="text/javascript" src="/js/main.js"></script>
</head>



<body>
    <h1 align="middle"> Child Monitoring System </h1><br>
    <a href="/" id="getTime" style="display:none"></a>
    <div class="login">        
            <input type="text" placeholder="Email ID" id="username" name="username">
            <input type="text" placeholder="password" id="password" name="password">
            <input type="submit" id="submitButton" value="Sign In" onclick="submit()">
    </div>
</body>

</html>