<% include ./partials/header %>
<html>
    <head>
        <style>
            .col-3
            {
                height: 30pt;
                font-size: 20px;
            }
            
			body {
				margin: 0;
			}

			.topnav {
				overflow: hidden;
				background-color: #333;
			}

			.topnav a {
				float: left;
				color: #f2f2f2;
				text-align: center;
				padding: 14px 16px;
				text-decoration: none;
				font-size: 17px;

			}

			.topnav a:hover {
				background-color: #ddd;
				color: black;
			}

			.topnav a.active {
				background-color: #4CAF50;
				color: white;
			}
		
        </style>
    </head>
    <div class="topnav">
    <div class="container-fluid">
        <div class="row">
                
						<div class="col-md-3">
                            <a data-toggle="pill" href="#changeusername">Change Username</a>
						</div>
						<div class="col-md-3">
                            <a data-toggle="pill" href="#changepassword">Change Password</a>
						</div>
						<div class="col-md-3">
                            <a data-toggle="pill" href="#edituserinfo">Edit User Info</a>
                        </div>
                        <div class="col-md-3">
                                <a href="/welcome">Go Back</a>
                        </div>
                        
        </div>
    </div>
    </div>

    <div class="col-sm-10">
			<div class="tab-content">
				<div id="changeusername" class="tab-pane fade in active">
                    <h2 class="chnusername">CHANGE USERNAME</h2>
                    <form class="form-horizontal" method="post" action="/profile/changeuserame">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="password">Old UserName</label>
                            <div class="col-md-4">
                                <input  name="oldUsername" type="text" placeholder="Please enter your old username" class="form-control input-md" required="">                                
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="password">New UserName</label>
                            <div class="col-md-4">
                                <input name="newUsername" type="text" placeholder="Please enter your new username" class="form-control input-md" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="button1id"></label>
                            <div class="col-md-8">
                                <button type="submit" class="btn btn-info">Save Changes</button>
                            </div>
                        </div>
                    </form>
                </div>
                
                <div id="changepassword" class="tab-pane fade">
                        <h2 class="chnpassword">CHANGE PASSWORD</h2>
                        <form class="form-horizontal" method="post" action="/profile/changePassword">
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="password">User Name</label>
                                <div class="col-md-4">
                                    <input  name="oldPassword" type="text" placeholder="Please enter username" class="form-control input-md" required="">
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="password">New Password</label>
                                <div class="col-md-4">
                                    <input name="newPassword" type="text" placeholder="Please enter your new password" class="form-control input-md" required="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="button1id"></label>
                                <div class="col-md-8">
                                    <button type="submit" class="btn btn-info">Save Changes</button>
                                </div>
                            </div>
                        </form>
                </div>
                <div id="edituserinfo" class="tab-pane fade">
                    <h2 class="edtuserinfo">EDIT USERNAME</h2>
                    <p>Under Construction.</p>
                </div>

            </div>
    </div>
    
    <br>
    <br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	
    </html>
<% include ./partials/footer %>











    