<!DOCTYPE html>
<html lang="en">

<head>
        
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <h1 align="middle"> Child Monitoring System </h1><br>
    <div class="login">
        <input type="text" placeholder="Email ID" id="username">
        <input type="password" placeholder="password" id="password">
        <input type="text" placeholder="Renter Password" id="username">
        <input href="file:///C:/GDP1/SignupPage.html" type="submit" value="Sign Up">
    </div>
</body>
</html>